.banner-blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 1em;

  &:not(:empty) {
    margin-bottom: 1em;
  }

  &__block {
    background: var(--primary-very-low);
    display: flex;
    flex-direction: column;
  }

  &__block-title {
    background: var(--banner-box-color, var(--primary));
    color: var(--secondary);
    padding: 0.15rem 0.5rem;
    font-weight: bold;
  }

  &__block-body {
    box-sizing: border-box;
    font-size: var(--font-down-1);
    padding: 0.5rem;
    height: 100%;

    > *:first-child {
      margin-top: 0;
    }
  }

  .--with-feed {
    display: flex;
    flex-direction: column;
  }

  &__block-feed {
    margin: 0 0 auto 0;
    padding-bottom: 0.5em;
    list-style-type: none;

    li {
      padding: 0.45em 0;
      display: flex;
      align-items: center;
      overflow: hidden;
      border-bottom: 1px solid var(--primary-low);

      a {
        @include ellipsis;
      }
    }
  }
}
